<h2>courses</h2>
<a href="/admin/add-course"> + Add course</a>
<div>
    {% for course in course %}
      <div>
        <h3>
            {{course.title}}
        </h3>
        <p>{{ course.description}}</p>
        <p> type : {{course.course_type}}</p>
        {% if course.course_type == "recorded" %}
            <p> price: {{course.price}}</p>
        {%else %}
            <p> Contact/Book</p>   
        {% endif %}    
        <div>
            <a href="{{ url_for('admin.edit_course', course_id=course.id)}}">edit</a>
            <form
            method="post"
             action="{{ url_for('admin.delete_course', course_id=course.id)}}"
             style="display: inline;"
             >
            <button type="submit">
                delete

            </button>
        </form>
        </div>
      </div>
    {% else %}  
        <p>no courses yet</p>
    {% endfor %}      
</div>
