



{% extends "base.html"%}
{%block body%}
<section class="auth-section">
    <div class="auth-card">
        <h1> Welcome Back</h1>
        <p>login to your account</p>
      <form method="post">
         <input 
         type="email"
         name="email"
         placeholder="email"
         required
         >
         <input 
         type="password"
         name="password"
         placeholder="password"
         required
         >        
         <button type="submit">login</button>
      </form>
      <p>
        Dont't have an account?
        <a href="/register">
            Create Account?
        </a>
      </p>
        

    </div>

</section>
{%endblock%}