{% extends "base.html" %}

{% block body %}

<div class="admin-container">

    <h2 class="mb-4 text-center">Reset Password</h2>

    <form method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label>New Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                required
            >
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <input
                type="password"
                class="form-control"
                name="confirm"
                required
            >
        </div>

        <button class="btn btn-success w-100">
            Change Password
        </button>

    </form>

</div>

{% endblock %}
